.dropdowns.mb-25.visible-xs
  %p.lead.small.mb-10= t('catalog.filter.header')
  .dropdown
    %a.dropdown-toggle.lead.small{href: books_path(category: presenter.params[:category]), 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = presenter.current_category
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        = link_to t("catalog.flter.all_books"), books_path(category: nil, sort: presenter.params[:sort])
      -categories.each do |category|
        %li.mr-35
          = link_to category.name, books_path(category: category, sort: presenter.params[:sort]), class: 'filter-link'
  %p.lead.small.mb-10= t('catalog.sorting_header')
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true" }
      = t("catalog.sorting.#{presenter.current_sort}")
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      - presenter.sort_params.each_key do |sort_option|
        %li
          = link_to t("catalog.sorting.#{sort_option}"), books_path(sort: sort_option, category: presenter.params[:category])
