.hidden-xs.clearfix
  .dropdowns.pull-right
    .dropdown.width-240
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true" }
        = t("catalog.sorting.#{presenter.current_sort}")
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu.list_of_sorting
        - presenter.sort_params.each_key do |sort_option|
          %li
            = link_to t("catalog.sorting.#{sort_option}"), books_path(sort: sort_option, category: presenter.params[:category])
  %ul.list-inline.pt-10.mb-25.mr-240.list_of_categories
    %li.mr-35
      = link_to books_path(category: nil, sort: presenter.params[:sort]), class: 'filter-link' do
        = t("catalog.flter.all_books") 
        %span.badge.general-badge= Book.all.count
    -categories.each do |category|
      %li.mr-35
        = link_to books_path(category: category, sort: presenter.params[:sort]), class: 'filter-link' do
          = category.name
          %span.badge.general-badge= category.books.count
