.row.mb-20
  .col-sm-3
    %h3.general-subtitle= t('checkout.address.shipping')
    = render partial: 'checkouts/show/confirmation/address', locals: { address: cart.user.shipping_address, cart: cart }
  .col-sm-3
    %h3.general-subtitle= t('checkout.address.billing')
    = render partial: 'checkouts/show/confirmation/address', locals: { address: cart.user.billing_address, cart: cart }
  .col-sm-3
    = render partial: 'checkouts/show/confirmation/shipments', locals: { cart: cart }
  .col-sm-3
    = render partial: 'checkouts/show/confirmation/payment', locals: { cart: cart, bank_card: BankCardDecorator.decorate(cart.bank_card) }
.visible-xs
  = render partial: 'checkouts/show/confirmation/mobile_item', collection: LineItemDecorator.decorate(cart.line_items.with_book)
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= t('checkout.confirmation.book')
        %th.col-method
        %th
          %span.in-grey-600= t('checkout.confirmation.price')
        %th
          %span.in-grey-600= t('checkout.confirmation.quantity')
        %th
          %span.in-grey-600= t('checkout.confirmation.total')
    %tbody
      = render partial: 'checkouts/show/confirmation/item', collection: LineItemDecorator.decorate(cart.line_items.with_book)
.text-center.general-text-right
  = render partial: 'checkouts/show/order_summary', locals: { cart: cart }
.text-center
  = link_to t('checkout.confirmation.place_order'), checkout_path(cart: { confirm_order: true }), method: :put, class: 'btn btn-default mb-20'
