%p.in-gold-500.font-18= t('checkout.summary')
%table.general-summary-table{class: ('general-summary-table-right general-text-right' if cart.confirmation? || cart.completion?) }
  %tr
    %td
      %p.font-16= t('checkout.order_summary.subtotal')
    %td
      %p.font-16= number_to_currency(cart.subtotal)
  %tr
    %td
      %p.font-16= t('checkout.order_summary.coupon')
    %td
      %p.font-16= number_to_currency(cart.discount)
  %tr
    %td
      %p.font-16= t('checkout.order_summary.shipping')
    %td
      %p.font-16= number_to_currency(cart.delivery_cost)
  %tr
    %td
      %strong.font-18= t('checkout.order_summary.total')
    %td
      %strong.font-18= number_to_currency(cart.total_with_delivery)
