%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('orders.my_orders')
  %p.lead.small.mb-10.visible-xs= t('orders.sort_by')
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = @presenter.current_filter
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        = link_to t('orders.all'), orders_path
      - OrdersPresenter::STATES.each do |state|
        %li
          = link_to t("orders.states.#{state}"), orders_path(filter: state)
  .visible-xs
    = render partial: 'orders/index/mobile_order', collection: @presenter.orders
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('orders.number')
          %th
            %span.in-grey-600= t('orders.completed_at')
          %th
            %span.in-grey-600= t('orders.status')
          %th
            %span.in-grey-600= t('orders.total')
    %tbody
      = render partial: 'orders/index/order', collection: @presenter.orders
