%main.container
  = # byebug
  = link_to url_for(:back), class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    = t('show.back_to_results')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag(@book.title_image.url(:full), class: 'img-responsive')
        .images.clearfix
          - @book.images.each do |image|
            %a.img-link{href: "#"}
              = image_tag(image.url(:preview))
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.all_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= number_to_currency(@book.price)
        = simple_form_for :cart, url: cart_path, method: :put do |f|
          .col-xs-5.col-md-3
            .input-group.general-position
              = f.hidden_field :book_id, value: @book.id
              %a.input-link.minus
                %i.fa.fa-minus.line-height-40
              = f.text_field :quantity, class: 'form-control quantity-input', value: 1
              %a.input-link.plus
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.submit t('show.add_to_cart'), class: 'btn btn-default pull-right general-position'
      .general-info-wrap.divider-lg
        = render partial: 'books/show/description', object: @book.full_description, locals: { short_description: @book.short_description }
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('show.publication_year')
          %p.lead.small.pull-right=@book.year_of_publication
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('show.dimensions.header')
          %p.lead.small.pull-right= @book.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('show.materials')
          %p.lead.small.pull-right= @book.material
  = render partial: 'books/show/review_form', locals: { book: @book, score: Constants::REVIEW_SCORE_RANGE.max } if user_signed_in?
  .mb-80
    %h3.in-gold-500.mb-25= t('show.review.reviews_count', amount: @reviews.count)
    = render partial: 'books/show/review', collection: @reviews
