%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('session.sign_in')
    = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
      %i.fab.fa-facebook-square
    %p.general-login-text= t('session.or')
  %div.general-form
    = simple_form_for resource, as: resource_name, url: session_path(resource_name), validate: true do |f|
      = f.input :email
      = f.input :password, hint: link_to(t('session.forgot_pass'), new_user_password_path, class: 'in-gold-500')
      .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
          = f.check_box :remember_me, class: 'checkbox-input', hidden: true
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text= t('session.remember_me')
      .text-center
        = f.button :submit, t('session.sign_in_btn')
  %p.general-sign-text.text-center
    = t('session.dont_have_acc')
    = link_to t('session.sign_up'), new_user_registration_path, class: 'in-gold-500'
