%tr
  %td
    .general-img-wrap-table
      = link_to book_path(item.book_item) do
        = image_tag(item.book_item.title_image.url(:preview), alt: 'design-book', class: 'cart-img-shadow pull-left')
  %td
    %p.title= item.book_item.title
  %td
    %span.font-16.in-gold-500= number_to_currency(item.book_item.price)
  %td
    .input-group
      = link_to cart_path(cart: { book_id: item.book.id, quantity: -1 }), remote: true, method: :put, class: 'b-n input-link minus' do
        %i.fa.fa-minus.line-height-40
      = text_field_tag "books-count", "", class: 'form-control quantity-input input-count-book', value: item.quantity
      = link_to cart_path(cart: { book_id: item.book.id, quantity: 1 }), remote: true, method: :put, class: 'b-n input-link plus' do
        %i.fa.fa-plus.line-height-40
  %td
    %span.font-16.in-gold-500= number_to_currency(item.subtotal)
  %td
    = link_to cart_path(id: item.id), method: :delete, class: 'close general-cart-close' do
      %span{'aria-hidden': "true"} &times;
