= f.hidden_field :type, value: type
= f.input :first_name, autocomplete: 'first_name'
= f.input :last_name, autocomplete: 'last_name'
= f.input :address, autocomplete: 'address'
= f.input :city, autocomplete: 'city'
= f.input :zip, autocomplete: 'zip'
= f.input :country, prompt: :translate
= f.input :phone, autocomplete: 'phone'
