%tr
  %td
    .general-img-wrap-table
      = image_tag BookDecorator.decorate(item.book).title_image.url(:catalog), alt: 'design-book', class: 'cart-img-shadow pull-left'
  %td
    %p.title= item.book.title
    %p.in-grey-600.fw-300= BookDecorator.decorate(item.book).short_description.html_safe
  %td
    %span.font-16.in-gold-500= number_to_currency(item.book.price)
  %td
    %span.ml-30= item.quantity
  %td
    %span.font-16.in-gold-500= number_to_currency(item.subtotal)
